%h1 Panel principal

.row
  .large-6.columns
    .panel
      %h2 0
.row
  .large-3.columns
    = high_chart("my_id4", @chart) do |c|
      = raw "options.tooltip.formatter = function() {return '<b> YUPI!! '+ this.point.name +'</b>: '+ this.y +' %';}"
      = raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"
