/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require entypo
 */
@import 'foundation_and_overrides';

$sidebar-bg: darken($body-bg, 5%);
$sidebar-color: #444;


.row {
    min-width:100% !important;
}

.top {
    background-color: $topbar-bg;
}

#topbar {
    box-shadow: 1px 1px 10px green;

    .top-bar {
        padding: 0px 20px;
    }
}

#main-container {
    padding-top: 45px;
}
#main {
    padding-top: 20px;
}

#sidebar {
    background-color: $sidebar-bg;
    border-right: 1px solid darken($sidebar-bg, 5%);
    padding: 0;
    position: absolute;
    height: 98.6%;

    i {
        color: darken(#444, 20%) !important;
        font-size: emCalc(20px) !important;
    }

    p.title {
        background-color: $sidebar-bg;
        color: #444;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    section {
        border: 0;
        border-bottom: 1px solid darken($sidebar-bg, 5%);

        .content {
            background-color: lighten($sidebar-bg, 5%);
            padding-left: 40px;
        }
    }

    .section {
        padding: 10px 0px 0px 0px !important;

        .active {
            font-weight: bold;
        }
    }
    .section-container {
        border: 0;
    }
}

#wrapper {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
}
