!!! 5

%html
  %head
    %title Ultimo Recurso
    %meta{ :content => "Administración de Último Recurso", :name => "description" }
    %meta{ :content => "Astiam", :name => "author" }
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body

    / Header and Nav

    .row
      .large-12.columns
        %nav.top-bar
          %section.top-bar-section
            %ul.right
              %li.has-dropdown
                %a{:href => "#"}
                  %i.icon-vcard
                  Eduardo Delgaldo
                %ul.dropdown
                  %li
                    %a{:href => "#"}
                      %i.icon-cog
                      Preferencias
                  %li.logout
                    %a{:href => destroy_user_session_path, :data => {'method' => 'delete'}}
                      %i.icon-logout
                      Salir

        .large-9.columns.large-centered
    / End Header and Nav

    .row

      / Main Content Section

      .large-10.push-2.columns

        = yield

      / Nav Sidebar

      - if user_signed_in?

        .large-2.pull-10.columns

          %ul.side-nav
            %li
              %a{:href => authenticated_root_path}
                %i.icon-layout
                General
            %li
              %a{:href => users_path}
                %i.icon-users
                Usuarios
            %li
              %a{:href => "#"}
                %i.icon-line-graph
                Gráficas
            %li
              %a{:href => "#"}
                %i.icon-tools
                Administración

      / Footer

      %footer.row
        .large-13.columns
          %hr
          .row
            .large-6.columns
              %p &copy; Copyright no one at all. Go to town.
