!!! 5

%html
  %head
    %title Ultimo Recurso
    %meta{ :content => "Administración de Último Recurso", :name => "description" }
    %meta{ :content => "Astiam", :name => "author" }
    %link{ :href =>'http://fonts.googleapis.com/css?family=Open+Sans', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = csrf_meta_tags

  %body

    / Header and Nav

    #topbar.row

      .large-12.columns.top
        .fixed
          %nav.top-bar
            %section.top-bar-section
              %ul.title-area
                %li.name
                  %a{:href => authenticated_root_path}
                    %i.icon-home
                    Último Recurso
              %ul.right
                %li.has-dropdown
                  %a{:href => "#"}
                    %i.icon-vcard
                    Eduardo Delgaldo
                  %ul.dropdown
                    -#%li
                      -#%a{:href => "#"}
                        -#%i.icon-cog
                        -#Preferencias
                    %li.logout
                      %a{:href => destroy_user_session_path, :data => {'method' => 'delete'}}
                        %i.icon-logout
                        Salir

  .large-9.columns.large-centered
    / End Header and Nav

    #main-container.row

      / Main Content Section

      #main.large-10.push-2.columns

        = yield

      / Nav Sidebar

      - if user_signed_in?

        #sidebar.large-2.pull-10.columns

          .section-container.accordion{:data => {"section" => "accordion"}}
            %section.section{:class => is_active?(["main"])}
              %a{:href => authenticated_root_path}
                %p.title
                  %i.icon-layout
                  Panel
            %section.section{:class => is_active?(["patients", "operators"])}
              %p.title
                %i.icon-users
                Usuarios
              .content
                %ul.side-nav
                  %li
                    %a{:href => patients_path, :class => is_active?(["patients"])} Pacientes
                  %li
                    %a{:href => users_path} Operadores
            %section.section
              %p.title
                %i.icon-line-graph
                Reportes
              .content
                %ul.side-nav
                  %li
                    %a{:href => reports_path} General
                  %li
                    %a{:href => users_path} Operadores
            %section.section
              %p.title
                %i.icon-cog
                Administración
              .content
                %ul.side-nav
                  %li
                    %a{:href => users_path} Pacientes
                  %li
                    %a{:href => users_path} Operadores
